body {
    background-color: yellow;
}

h1 {
    color: blue;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

p {
    color: black;
    text-align: center;
    font-size: medium;
}

fieldset {
    color: black;
    background-color: orange;
    height: 700px;
}

label {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration: solid;
    font-size: large;
    margin-left: 500px;
}

input[type=text] {
    margin-left: 500px;
    width: 8cm;
}

select {
    margin-left: 500px;
}

option {
    margin-left: 500px;
}

input[type=submit] {
    margin-left: 500px;
}

input[type=radio] {
    margin-left: 500px;
}

input[type=checkbox] {
    margin-left: 500px;
}